@(employeeLoginForm: Form[models.Employees])
@import helper.form

@main (title = "User Login") {
  <h1>Employee's Login Page</h1>
  <p>Please enter your credentials</p>

  <form id= "myForm" name="myForm" class="box" style="width : 320 px" id="login" method="POST" action="">

    <div style="width : 220 px ; float : left">
      <p>Are you an employee or patient?</p>
    </div>
    <br/></br></br>
    <input type="radio" name="userType" value="employee" id="employee"
    style="float : left"/>Employee <br/>
    <input type="radio" name="userType" value="patient" id="patient"
    style="float : left"/>Patient <br/><br/>

    @helper.form(routes.Application.authenticate) {

      <label for="employee_id">Username: </label>
      <input type="text" name="employee_id" id="employee_id"/> <br/> <br/>

      <label for="password">Password: </label>
      <input type="password" name="password" id="password"/> <br/> <br/> <br/>

      <input type="submit" value="Login"/>
    }

  </form>
}