body { 
    padding: 50px;
    text-align: center; 
    background-color: lightblue;
}

.box { 
    margin: 0 auto; 
    text-align: left; 
    padding: 50px; 
    display: inline-block;
    border: 4px double black; 
    background-color: white;
}

.box h3 {
    margin-top: 0;
    text-align: center;
}

.row {
    display: flex;
}

.col {
    flex: 1;
    width: 300px;
    min-height: 250px;
}

.col.first {
    padding-right: 30px; 
    border-right: 1px solid black;
}

.col.last {
    padding-left: 30px;
}

input { 
    float:right; 
}

select {
    float: right;
}

.todo {
    color: red;
    margin: 0;
}
