@(form: Form[models.Employees])

<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
  </head>
  <body>
    <h1>Welcome to Shitty's Login Page</h1>
    <p>Please enter your credentials</p>

      <form id= "myForm" name="myForm" class="box" style="width : 320 px" id="login" method="POST" action="">

        <div style="width : 220 px ; float : left">
          <p>Are you an employee or patient?</p>
        </div>
        <br/>
        <input type="radio" name="userType" value="employee" id="employee"
        style="float : none"/>Employee <br/>
        <input type="radio" name="userType" value="patient" id="patient"
        style="float : none"/>Patient <br/><br/>

        @helper.form(routes.Application.authenticate) {

          <label for="username">Username: </label>
          <input type="text" name="username" id="username"/> <br/> <br/>

          <label for="password">Password: </label>
          <input type="password" name="password" id="password"/> <br/> <br/> <br/>

          <input type="submit" value="Login"/>
        }

      </form>
  </body>
</html>
